#hamburger StackPane {
    -fx-background-color: #ffffff;
}

#hamburger:hover {
    -fx-cursor: hand;
    /*-fx-background-color: #252525;*/
}


#panel {
    -fx-background-color: #ffffff;
    -fx-border-color: red;
}

.link {
    -fx-text-fill: #ffffff;
    -fx-font-family: Roboto;
    -fx-font-size: 20px;
    -fx-cursor: hand;
    -fx-text-alignment: left;
    -fx-background-color: transparent;
}