AnchorPane {
    -fx-background-color: #ffffff;
}

#btn-add-page {
    -fx-background-color: #f44336;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
    -fx-cursor: hand;
}


.primary-btn {
    -fx-background-color: #2196f3;
    -fx-text-fill: #ffffff;
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 15px;
}

.error {
    -fx-text-fill: #f44336;

}


.primary-checkbox {
    -fx-color: #2196f3;
    -fx-font-family: Roboto;
    -fx-font-size: 14px;
}


.title {
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
    -fx-font-size: 24px;
}

.scroll-pane {
    -fx-padding: 10;
    -fx-background-insets: 0;
    -fx-background: #fff;
}


.scroll-bar {
    -fx-background-color: #ffffff;
}

/* The main scrollbar **track** CSS class  */
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;
    -fx-border-radius:5em;
}

/* The increment and decrement button CSS class of scrollbar */
.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;

}

/* The increment and decrement button CSS class of scrollbar */

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {

    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding:0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #555;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 4em;

}
